<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django App</title>
  </head>

  <body>
    <h3 class="text-title">Hello, {{ name }}</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
      doloremque et, iure harum incidunt officiis, similique perspiciatis
      asperiores voluptas consequatur velit! Ut dolorum nulla iure, dolor
      ducimus, hic vitae, voluptatem nihil modi adipisci debitis soluta officiis
      neque dicta libero. Possimus consequatur ducimus quo! Obcaecati quas
      assumenda a veritatis! Atque odit vero suscipit labore quos eveniet
      dolores sunt rerum ea officia? Corrupti impedit dolores repellendus
      doloremque delectus neque consequuntur mollitia pariatur, natus odio
      aliquam ut error, asperiores optio officiis tenetur eveniet eum similique.
      Autem maiores dolorem culpa quae, accusantium magnam repellendus, vel eius
      nemo fuga libero in. Sapiente tenetur error unde.
    </p>
  </body>
</html>
